body {
    font-family: Arial, sans-serif;
    margin: 1em;
    text-align: justify;
}

.word {
    background-color: #00549c;
    text-align: center;
    margin-bottom: 5%;
    width: 100%;
}

.pwpt {
    background-color: #f14521;
    text-align: center;
    margin-bottom: 5%;
    width: 100%;
}

.excel {
    background-color: #02723a;
    text-align: center;
    margin-bottom: 5%;
    width: 100%;
}

.outlook {
    background-color: rgb(58, 177, 255);
}

.div1 {
    font-weight: 700;
    text-align: center;
    margin-top: 6%;
}

#Giu a {
    color: black;
}

#Giu a:hover {
    text-decoration: underline;
    color: rgb(170, 115, 152);
}

.menu {
    text-align: center;
}

.div2 {
    background-color: rgb(14, 73, 83);
    width: 100%;
    padding: 0.5cm;
}

header {
    background-color: rgb(14, 73, 83);
    color: white;
    text-align: center;
    font-size: xx-large;
    padding: 2%;
    border: 0.1cm solid rgb(255, 255, 255);
}

#Giubs2 a {
    color: rgb(255, 255, 255);
}

#Giubs2 a:hover {
    text-decoration: underline;
    color: rgb(36, 97, 133);
}

.btn-group button {
    background-color: rgb(36, 97, 133);
    border: 1px solid rgb(255, 255, 255);
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group button:hover {
    background-color: rgb(14, 73, 83);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #e3e3e3;
}